<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Price Prediction And Forecasting</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style2.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>
  <body>
<header>
	<div class="header_menu">
            <div class="logo">
            	<img src="/static/img/logo.png" alt="Logo">

            </div>
            <div class="menu_list">
                <ul>
                </ul>
            </div>
        </div>
	<div class="header_content">
		<div><h1> stock price prediction </h1></div>
		<h3>Predicting stock price by using financial news headlines</h3>
		
	<form action='{{ url_for("predict")}}' method="post">

    
    <!-- <label for="News Headline"><h2>Enter news headlines</h2></label> -->
        <div style="margin: auto; width: 50%;">
        {% autoescape off %}
        {{ runtimeResults }}
        {% endautoescape %}
        </div>

    <!-- plot images -->
    <div class="plot_images">
        {% autoescape off %}
        {{ plot_img }}
        {% endautoescape %}
        </div>



    <!-- <div> -->
    <!-- <button type="submit">Predict</button> -->
    <!-- </div> -->
    </form>


	</div>
</header>
  </body>
  </html>